.version.kontakt /* version checker */
{
	color: #0000FA;
	background-color: #61D2C0;
}

.html
{
	background: #FFFFFF url("../images/2014-08-10%20205233.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -28px;
	padding-bottom: 20px;
}

#menuu211
{
	z-index: 2;
	width: 446px;
	top: -34px;
	left: 514px;
}

#u219
{
	width: 72px;
	min-height: 34px;
	margin-right: -10000px;
}

#u222
{
	width: 72px;
	padding-bottom: 17px;
}

#u222:hover
{
	margin: 0px;
}

#u222:active
{
	margin: 0px;
}

#u225-4
{
	width: 72px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u222:hover #u225-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u222:active #u225-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u226
{
	width: 72px;
	min-height: 34px;
	margin-right: -10000px;
	left: 74px;
}

#u229
{
	width: 72px;
	padding-bottom: 17px;
}

#u222.MuseMenuActive,#u229:hover
{
	margin: 0px;
}

#u229:active
{
	margin: 0px;
}

#u231-4
{
	width: 72px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u222.MuseMenuActive #u225-4,#u229:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u229:active #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u212
{
	width: 73px;
	min-height: 34px;
	margin-right: -10000px;
	left: 148px;
}

#u213
{
	width: 73px;
	padding-bottom: 17px;
}

#u229.MuseMenuActive,#u213:hover
{
	margin: 0px;
}

#u213:active
{
	margin: 0px;
}

#u216-4
{
	width: 73px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u229.MuseMenuActive #u231-4,#u213:hover #u216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u213:active #u216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u326
{
	width: 73px;
	min-height: 34px;
	margin-right: -10000px;
	left: 223px;
}

#u329
{
	width: 73px;
	padding-bottom: 17px;
}

#u213.MuseMenuActive,#u329:hover
{
	margin: 0px;
}

#u329:active
{
	margin: 0px;
}

#u332-4
{
	width: 73px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u213.MuseMenuActive #u216-4,#u329:hover #u332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u329:active #u332-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u617
{
	width: 73px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u618
{
	width: 73px;
	padding-bottom: 17px;
}

#u329.MuseMenuActive,#u618:hover
{
	margin: 0px;
}

#u618:active
{
	margin: 0px;
}

#u619-4
{
	width: 73px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u329.MuseMenuActive #u332-4,#u618:hover #u619-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u618:active #u619-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u641
{
	width: 73px;
	min-height: 34px;
	margin-right: -10000px;
	left: 373px;
}

#u642
{
	width: 73px;
	padding-bottom: 17px;
}

#u618.MuseMenuActive,#u642:hover
{
	margin: 0px;
}

#u642:active
{
	margin: 0px;
}

#u642.MuseMenuActive
{
	margin: 0px;
}

#u645-4
{
	width: 73px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u618.MuseMenuActive #u619-4,#u642:hover #u645-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u642:active #u645-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u642.MuseMenuActive #u645-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u283-4
{
	z-index: 42;
	width: 512px;
	min-height: 15px;
	margin-left: 3px;
}

#widgetu404
{
	z-index: 48;
	width: 0.01px;
	height: 520px;
	margin-left: 27px;
	margin-top: 75px;
	position: relative;
}

#widgetu411
{
	z-index: 49;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu411.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u413-4
{
	z-index: 50;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u414-4
{
	z-index: 54;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu411.non-empty-st #u414-4
{
	background-color: #FFFFFF;
}

#widgetu411:hover #u414-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu411.focus-st #u414-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu411.non-empty-st #u414-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu411:hover #u414-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu411.focus-st #u414-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu415
{
	z-index: 58;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu415.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u418-4
{
	z-index: 59;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u416-4
{
	z-index: 63;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu415.non-empty-st #u416-4
{
	background-color: #FFFFFF;
}

#widgetu415:hover #u416-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu415.focus-st #u416-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu411.fld-err-st #u414-4,#widgetu415.fld-err-st #u416-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu415.non-empty-st #u416-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu415:hover #u416-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu415.focus-st #u416-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u419-4
{
	z-index: 67;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 490px;
	left: 140px;
}

#widgetu404.frm-sub-st #u419-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u405-4
{
	z-index: 71;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 490px;
	left: 140px;
}

#widgetu404.frm-subm-err-st #u405-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u420-4
{
	z-index: 75;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 490px;
	left: 140px;
}

#widgetu404.frm-sub-st #u419-4,#widgetu404.frm-subm-err-st #u405-4,#widgetu404.frm-subm-ok-st #u420-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu404.frm-subm-ok-st #u420-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u406-17
{
	z-index: 79;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 490px;
	background: url("../images/u406-17.png") no-repeat 0px 0px;
}

#u406-17:hover
{
	background: url("../images/u406-17-r.png") no-repeat 0px 0px;
}

#u406-17:active
{
	background: url("../images/u406-17-m.png") no-repeat 0px 0px;
}

#widgetu404.frm-sub-st #u406-17
{
	background: url("../images/u406-17-fs.png") no-repeat 0px 0px;
}

#widgetu407
{
	z-index: 96;
	width: 340px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu407.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 120px -10000px 0px 0px;
}

#u408-4
{
	z-index: 97;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu411.fld-err-st #u413-4,#widgetu407.fld-err-st #u408-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u409-4
{
	z-index: 101;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu407.non-empty-st #u409-4
{
	background-color: #FFFFFF;
}

#widgetu407:hover #u409-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu407.focus-st #u409-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu407.fld-err-st #u409-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu407.non-empty-st #u409-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu407:hover #u409-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu407.focus-st #u409-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu407_input,#widgetu407_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu512
{
	z-index: 105;
	width: 340px;
	height: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: -1px;
}

#widgetu512.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 230px -10000px 0px 0px;
}

#u514-4
{
	z-index: 106;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu415.fld-err-st #u418-4,#widgetu512.fld-err-st #u514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu411.fld-err-st #u413-4 p,#widgetu411.fld-err-st #u413-4 span,#widgetu415.fld-err-st #u418-4 p,#widgetu415.fld-err-st #u418-4 span,#widgetu407.fld-err-st #u408-4 p,#widgetu407.fld-err-st #u408-4 span,#widgetu512.fld-err-st #u514-4 p,#widgetu512.fld-err-st #u514-4 span
{
	color: #D7244C;
}

#u515-5
{
	z-index: 110;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: -1px;
}

#widgetu512.non-empty-st #u515-5
{
	background-color: #FFFFFF;
}

#widgetu512:hover #u515-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 62px -10000px -1px 0px;
}

#widgetu512.focus-st #u515-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 62px -10000px -1px 0px;
}

#widgetu512.fld-err-st #u515-5
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 62px -10000px -1px 0px;
}

#widgetu512.non-empty-st #u515-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu512:hover #u515-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu512.focus-st #u515-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu411.fld-err-st #u414-4 *,#widgetu415.fld-err-st #u416-4 *,#widgetu407.fld-err-st #u409-4 *,#widgetu512.fld-err-st #u515-5 *
{
	color: #D7244C;
	font-style: italic;
}

#u516
{
	position: relative;
	width: 151px;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu411_input,#widgetu411_prompt,#widgetu415_input,#widgetu415_prompt,#widgetu512_input,#widgetu512_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu411.focus-st #widgetu411_prompt,#widgetu415.focus-st #widgetu415_prompt,#widgetu407.focus-st #widgetu407_prompt,#widgetu512.focus-st #widgetu512_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu411:hover #widgetu411_input,#widgetu411.focus-st #widgetu411_input,#widgetu411.fld-err-st #widgetu411_input,#widgetu411:hover #widgetu411_prompt,#widgetu411.fld-err-st #widgetu411_prompt,#widgetu415:hover #widgetu415_input,#widgetu415.focus-st #widgetu415_input,#widgetu415.fld-err-st #widgetu415_input,#widgetu415:hover #widgetu415_prompt,#widgetu415.fld-err-st #widgetu415_prompt,#widgetu407:hover #widgetu407_input,#widgetu407.focus-st #widgetu407_input,#widgetu407.fld-err-st #widgetu407_input,#widgetu407:hover #widgetu407_prompt,#widgetu407.fld-err-st #widgetu407_prompt,#widgetu512:hover #widgetu512_input,#widgetu512.focus-st #widgetu512_input,#widgetu512.fld-err-st #widgetu512_input,#widgetu512:hover #widgetu512_prompt,#widgetu512.fld-err-st #widgetu512_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu411.non-empty-st #widgetu411_prompt,#widgetu415.non-empty-st #widgetu415_prompt,#widgetu407.non-empty-st #widgetu407_prompt,#widgetu512.non-empty-st #widgetu512_prompt
{
	visibility: hidden;
}

#slideshowu422
{
	z-index: 116;
	width: 0.01px;
	height: 400px;
	margin-left: 440px;
	top: -507px;
	margin-bottom: -400px;
	position: relative;
}

#u429
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
}

#u429popup
{
	z-index: 117;
}

#u434
{
	z-index: 118;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u434_img
{
	margin: -32px 77px;
}

#u485
{
	z-index: 120;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u434_clip,#u485_clip
{
	overflow: hidden;
	width: 480px;
	height: 360px;
}

#u485_img
{
	margin-left: -31px;
	margin-right: -30px;
}

#u494
{
	z-index: 122;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u494_img
{
	padding: 64px 93px 63px 94px;
}

#u503
{
	z-index: 124;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u434 .clip_frame,#u485 .clip_frame,#u494 .clip_frame,#u503 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u427-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 350px;
}

#u427-4popup
{
	z-index: 126;
}

#u427
{
	color: #999999;
}

#u436-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 450px;
}

#u436-4popup
{
	z-index: 130;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u282-3
{
	z-index: 39;
	width: 5px;
	margin-left: 3px;
	top: -472px;
	margin-bottom: -17px;
}

#u592-3
{
	z-index: 134;
	width: 38px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 447px;
	top: -463px;
	margin-bottom: -20px;
	position: relative;
}

#u595-3
{
	z-index: 143;
	width: 24px;
	background-color: transparent;
	margin-left: 740px;
	top: -418px;
	margin-bottom: -17px;
	position: relative;
}

#u593-3
{
	z-index: 137;
	width: 5px;
	background-color: transparent;
	margin-left: 677px;
	top: -389px;
	margin-bottom: -17px;
	position: relative;
}

#u594-3
{
	z-index: 140;
	width: 22px;
	background-color: transparent;
	margin-left: 713px;
	top: -377px;
	margin-bottom: -17px;
	position: relative;
}

#pu597
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 10px;
}

#u597
{
	z-index: 46;
	width: 281px;
	min-height: 32px;
	margin-right: -10000px;
}

#u599
{
	z-index: 47;
	width: 291px;
	min-height: 32px;
	margin-right: -10000px;
	left: 315px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

